html {
  scroll-behavior: smooth;
}

body {
  min-width: $min-width;
  cursor: default;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(233, 211, 134, 0.534)),
    url('../images/background-movies.jpg');
  background-repeat: repeat;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  min-height: 100vh;
  background-color: $container-bgc;
  list-style: none;

  @media screen and (min-width: $min-width) {
    max-width: $min-width;
    padding: 20px 20px 40px 20px;
  }

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
    padding: 20px 20px 40px 20px;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 60px 75px 50px 75px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding: 60px 71px 50px 71px;
  }
}
