.unit-film-card {
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px -5px 15px -4px rgba(36, 34, 33, 0.27);
  }
  @media screen and (min-width: $tablet) {
    width: 294px;
    margin: 0;
  }

  @media screen and (min-width: $desktop) {
    width: 274px;
  }
}
.card-tumb {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 398px;
  &__image {
    object-fit: cover;
  }
}

.card-tumb > .card-tumb__image {
  width: 100%;
  height: 100%;
}

.unit-film-card__item {
  margin-left: 3px;
  color: black;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 33;
  text-transform: uppercase;
}
.unit-film-card__item-text {
  margin-left: 3px;
  color: #ff6b08;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 33;
}

.unit-film-card:hover {
  transform: scale(1.01);
}
