a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

.main-page-header {
  display: flex;
  background-color: rgba(151, 145, 145, 0.678);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main_page_header/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  align-items: center;
  display: flex;
  &__svg {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-image: url("../images/main_page_header/film.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__name {
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
  }
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  position: relative;
  &__input {
    font-family: Roboto;
    position: relative;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  &__icon {
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("../images/main_page_header/search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__button {
    position: absolute;
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
}
.search__input:focus {
  outline: none;
}
.user {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  &__actions {
    font-weight: 500;
    color: #fff;
    line-height: 14px;
  }
  &__actions--current {
    border-bottom: 4px solid $accent-color;
    color: #fff;
  }
}
::-webkit-input-placeholder {
  color: #fff;
  font-weight: 400px;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .main-page-header {
    height: 230px;
    width: 100%;
  }
  .logo {
    margin-top: 50px;
    margin-left: 25px;
    &__name {
      display: none;
    }
  }
  .header__search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search {
    &__input {
      min-width: 280px;
      margin-top: 40px;
    }
    &__icon {
      left: 90%;
      transform: translate(-100%, -50%);
    }
    &__button {
      left: 93%;
      top: 65%;
    }
  }
  .user {
    margin-top: 60px;
    &__home {
      margin-right: 30px;
    }
    &__library {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .main-page-header {
    height: 230px;
    width: 100%;
  }
  .logo {
    margin-left: 70px;
    margin-top: 50px;
  }
  .search {
    &__input {
      width: 340px;
    }
    &__icon {
      left: 90%;
      transform: translate(-100%, -50%);
    }
    &__button {
      left: 93%;
    }
  }
  .user {
    margin-top: 60px;
    &__home {
      margin-right: 40px;
    }
    &__library {
      margin-right: 70px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
  .main-page-header {
    height: 230px;
    width: 1024px;
  }
  .logo {
    margin-left: 70px;
    margin-top: 50px;
  }
  .search {
    &__input {
      width: 340px;
    }
    &__icon {
      left: 90%;
      transform: translate(-100%, -50%);
    }
    &__button {
      left: 93%;
    }
  }
  .user {
    margin-top: 60px;
    &__home {
      margin-right: 40px;
    }
    &__library {
      margin-right: 70px;
    }
  }
}
