$c1: #ff9c0879;
$c2: #ff880177;
$c3: #ff5e0098;
// dizzy-gillespie

.hide-dizzy {
  display: none;
}
.dizzy-gillespie {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #ff6b08e5;
  border-top-color: #ff6b08e5;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
  &:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #fd8637c9;
    border-top-color: #ff8839ce;
    box-sizing: border-box;
    content: "";
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin;
  }
  &:after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #fab07fb0;
    border-top-color: #ffb07cc4;
    box-sizing: border-box;
    content: "";
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}