
.scroll-lock {
  overflow: hidden;
}

.myBackdrop {
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(233, 211, 134, 0.534)), url("../images/background-movies.jpg");
  background-size: cover;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  z-index: 1;

    @media screen and (min-width: $desktop) {
       display: flex;
       align-items: center;
       justify-content: center;
    }

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    right: 25px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $body-bgc;
    &:hover {
      background-color: $accent-color;
    }

    @media screen and (min-width: $desktop) {
      right: 15px;
    }
  }
}

.our-team {

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__first-title {
    color: $title-color;
    font-size: 28px;
    line-height: 1.172;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: neon6 1.5s ease-in-out infinite alternate;

    @media screen and (min-width: $desktop) {
      font-size: 36px;
    }
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    max-width: $mobile;

    @media screen and (min-width: $tablet) {
      max-width: $tablet;
      padding: 10px 20px 10px 20px;
    }
    @media screen and (min-width: $desktop) {
      max-width: $desktop;
    }
  }
}

.team-cards {
  margin-bottom: -10px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: -15px;
    margin-bottom: -15px;
  }

  &__card {
    margin-bottom: 10px;
    background-color: $card-bgc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: $tablet) {
      width: calc(100% / 2 - 20px);
      margin-left: 20px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop) {
      width: calc(100% / 4 - 15px);
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
  }
}
.team-card {
  padding: 10px 0 10px 0;
  &__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
  }
}
