.pagination-buttons-set {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
  @media screen and (min-width: $tablet) {
    margin-top: 50px;
  }
}

.page-btn {
  width: 30px;
  height: 30px;
  background: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border: none;
  padding: 0;
  margin: 0 1px;
  border-radius: 25px;

  &:focus {
    background: #ff6b08;
  }
  @media screen and (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }

  @media screen and (min-width: $desktop) {
    &:hover {
      border: 1px solid #ff6b08;
    }
    width: 50px;
    height: 50px;
  }
}

.activeBtn {
  position: relative;
  background-image: linear-gradient(90deg, #00c0ff 0%, #dbe094 49%, #fc4f4f 80%, #00c0ff 100%);
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  z-index: 1;
  animation: slidebg 3s linear infinite;
  transform: scale(1.05);
}

.activeBtn:after {
  content: '';
  width: 27px;
  height: 27px;
  background-color: #f5f5f5;
  border-radius: 28px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: $tablet) {
    width: 37px;
    height: 37px;
  }

  @media screen and (min-width: $desktop) {
    width: 47px;
    height: 47px;
  }
}

@keyframes slidebg {
  to {
    background-position: 30vw;
  }
}
