.upBtn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: fixed;
  bottom: 140px;
  right: 20px;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  background: url(../images/icon_up_arrow.png) no-repeat;
  background-size: cover;
  @media screen and (min-width: $desktop) {
    right: 60px;
  }
}

.showUpBtn {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

html {
  scroll-behavior: smooth;
}
