// стилі variables.scss
$body-bgc: #e5e5e5;
$container-bgc: #ffffff;
$accent-color: #ff6b08;
$films-title-color: #000000;
$pagination-arrow-color: #f7f7f7;
$footer-background-color: #f7f7f7;
$footer-text-color: #545454;
$warning-color: #ff001b;
$modal-text-color: #8c8c8c;
$title-color: #ffffff; // title color our-team-modal
$card-bgc: #ffffff;
$anim-func: cubic-bezier(0.4, 0, 0.2, 1); //
$anim-time: 250ms;

//screen breakpoints
$min-width: 320px;
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
