/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './example';
.test-div{
    width: 100%;
    height: 200px ;
    background-color: red;
}
@import "./main_page_header/header";

