    <div class="container">
        <div class="copyright-box">
            <p class="copyright-box__text">
                &copy; 2022 | All Rights Reserved | 
            </p>
            <p class="copyright-box__dev">
                Developed with                 
                <svg class="copyright-box__svg" width="14" height="14">
                            <use href="./images/sprite.svg#heard"></use>
                </svg>
                by 
                <span class="copyright-box__dev--underlined" data-modal-open>GoIT Students</span>
            </p>
        </div>
    </div>