<div id="loginModal" class="modal-login">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal__container">
      <h2 class="auth-header">Log In</h2>
      <div id="content_container">
        <input class="auth-input" type="email" id="loginEmail" placeholder="Email" />
        <input class="auth-input" type="password" id="loginPassword" placeholder="Password" />
        <div class="btn-wrap">
          <button class="auth-btn" id="logInUser">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
