<div class="myBackdrop myBackdrop--is-hidden" data-modal>
  <button data-modal-close class="myBackdrop__close-btn">
    <svg class="myBackdrop_close-icon" width="11px" height="11px">
      <use href="./images/sprite.svg#close"></use>
    </svg>
  </button>
  <div class="our-team__container">
    <h2 class="our-team__first-title">
         <svg class="our-team__icon">
      <use href="./images/sprite.svg#flash"></use>
    </svg>
      Fast_IT team
       <svg class="our-team__icon">
      <use href="./images/sprite.svg#flash"></use>
    </svg>
    </h2>
    <ul class="list-box team-cards">
      <li class="team-cards__card">
        <img
          class="team-cards__image"
          src="./images/our_team/Oleksandr.jpg"
          width="450"
          height="450"
          alt="Oleksandr photo"
          loading="lazy"
        />
        <div class="team-card">
          <h3 class="team-card__title">Oleksandr Khvaleba</h3>
        </div>
      </li>

      <li class="team-cards__card">
        <img
          class="team-cards__image"
          src="./images/our_team/Dmytro.jpg"
          width="450"
          height="450"
          alt="Dmytro photo"
          loading="lazy"
        />
        <div class="team-card">
          <h3 class="team-card__title">Dmytro Myruk</h3>
        </div>
      </li>

      <li class="team-cards__card">
        <img
          class="team-cards__image"
          src="./images/our_team/Maria.jpg"
          width="450"
          height="450"
          alt="Maria photo"
          loading="lazy"
        />
        <div class="team-card">
          <h3 class="team-card__title">Mariia Mlyuzan</h3>
        </div>
      </li>

      <li class="team-cards__card">
        <img
          class="team-cards__image"
          src="./images/our_team/Igor.jpg"
          width="450"
          height="450"
          alt="Igor photo"
          loading="lazy"
        />
        <div class="team-card">
          <h3 class="team-card__title">Igor Makoida</h3>
        </div>
      </li>

      <li class="team-cards__card">
        <img
          class="team-cards__image"
          src="./images/our_team/Tetyana.jpg"
          width="450"
          height="450"
          alt="Tetyana photo"
          loading="lazy"
        />
        <div class="team-card">
          <h3 class="team-card__title">Tetyana Korolyuk</h3>
        </div>
      </li>

      <li class="team-cards__card">
        <img
          class="team-cards__image"
          src="./images/our_team/Valeriy.jpg"
          width="450"
          height="450"
          alt="Valeriy photo"
          loading="lazy"
        />
        <div class="team-card">
          <h3 class="team-card__title">Valeriy Fomin</h3>
        </div>
      </li>

      <li class="team-cards__card">
        <img
          class="team-cards__image"
          src="./images/our_team/Iryna.jpg"
          width="450"
          height="450"
          alt="Iryna photo"
          loading="lazy"
        />
        <div class="team-card">
          <h3 class="team-card__title">Iryna Vlasenko</h3>
        </div>
      </li>

      <li class="team-cards__card">
        <img
          class="team-cards__image"
          src="./images/our_team/Vladymyr.jpg"
          width="450"
          height="450"
          alt="Vladymyr photo"
          loading="lazy"
        />
        <div class="team-card">
          <h3 class="team-card__title">Vladymyr Dancevskyi</h3>
        </div>
      </li>
    </ul>
  </div>
</div>
